<h2 mat-dialog-title>Comment utiliser HRM</h2>
<mat-dialog-content class="mat-typography">
  <h3>Qu'est ce qu'un type de ressource ?</h3>
  <p>Un type de ressource permet de réunir plusieurs ressources sous un même nom et sous un même ensemble de caractéristiques.<br>
    <strong>Pour créer un type de ressource : Cliqué sur créer -> "Créer un type"</strong></p>

  <h3>Comment créer une ressource ?</h3>
  <p>/!\ Pour créer une ressource il est nécessaire d'avoir au préalable créer son type/!\.<br>
    <strong> Pour créer une ressource : Cliqué sur créer -> "créer une ressource"</strong></p>

  <h3>Comment faire une réservation ?</h3>
  <p>Cliqué sur un jour du calendrier. Ensuite un pop-up vous permettra de choisir un nom, le(s) ressource(s), une date et une heure.</p>

  <h3>Information sur la version :</h3>
  <p>Cette application web n'est pas encore dans sa version finale, nous vous remercions pour votre compréhension. <br> HRM TEAM</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close >J'ai compris</button>
</mat-dialog-actions>


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
